/*theme Dark*/
/*màu cho cột menu*/
.theme-dark .active,.theme-dark .header ,.theme-dark .taskbar:hover, .theme-dark .logo,.theme-dark .menu-layout,.theme-dark .search-taskbar,.theme-dark .search-taskbar-input, .theme-dark .search-taskbar-submit,.theme-dark .search-taskbar-input:focus{
	background-color: #36404a;
}
/*Màu cho cột taskbar*/
.theme-dark .taskbar-layout, .theme-dark .showOption{
	background-color: #303841;
}
/*Màu cho cột frame và header*/
.theme-dark .frame-layout, .theme-dark .MSText{
	background-color: #262e35;
}
/*Màu tin nhắn người gửi*/
.theme-dark .content-receive-message{
	background-color: #3b728b;
}
/*Màu tin nhắn người nhận*/
.theme-dark .content-send-message{
	background-color: #36404a;
}
/*Màu nhập tin nhắn*/
.theme-dark .testing,.theme-dark .testing-input,.theme-dark .testing-submit{
	background-color: #36404a;
}
/*Màu icon, màu chữ*/
.theme-dark .showOption,.theme-dark .message-receive-content,.theme-dark .taskbar-contact-keys,.theme-dark .info-profile,.theme-dark .name-taskbar, .theme-dark .name-header, .theme-dark .option-header, .theme-dark .item-menu, .theme-dark .bi, .theme-dark .testing-input, .theme-dark .search-taskbar-input, .theme-dark .title-name{
	color: #dedede;
}
/*màu thời gian gửi*/
.theme-dark .time-receive,{
	color: #393939;
}
/*màu thời gian nhận*/
.theme-dark .time-send{
	color: #dedede;
}
/*Màu tên người gửi*/
.theme-dark .name-receive{
	color: #720000;
}

.theme-dark .bi{
	cursor: pointer;
}
