/*Theme bright*/

/*màu cho cột menu*/
.theme-bright .header,.theme-bright .menu-layout, .theme-bright .testing,.theme-bright .testing-input,.theme-bright .testing-submit{
	/*background-color: #b4d3f1;*/
	background-color: #0091ff;
}
.theme-bright .showOption .nameOption, .theme-bright .showOption .numberMember,  .theme-bright .title .title-name, .theme-bright .title div i{
	color: #0091ff;
}
/*mauf cho thanh tim kiem*/
.theme-bright .frame-layout,.theme-bright .MSText,.theme-bright .memberOption .member:hover,.theme-bright .taskbar:hover,.theme-bright .active,.theme-bright .search-taskbar,.theme-bright .search-taskbar-input, .theme-bright .search-taskbar-submit,.theme-bright .search-taskbar-input:focus{
	background-color: #EEEFF2;
}
/*Màu cho cột taskbar*/
.theme-bright .taskbar-layout{
	background-color: #FFF;
	/*background-color: #c6d8e9;*/
}
/*Mauf icon*/
.theme-bright .memberOption .member i,.theme-bright .timeOnline .bi, .theme-bright .search-taskbar i, .theme-bright .taskbar-layout i{
	color: black;
}
.theme-dark .MSText p,.theme-bright .header .name-header h4, .theme-bright .header .name-header div,.theme-bright .testing-input, .theme-bright .testing-input::placeholder{
	color: #FFF;
}
/*Màu cho cột frame và header  #d0fbff*/
/*.frame-layout,{
	background-color: #d6e5f3;
}*/
/*.theme-bright .header{
	background-color: #b4d3f1;
}*/
/*.theme-bright .frame-layout{
	background-color:#d6e5f3;
}*/
/*Màu tin nhắn người gửi*/
.theme-bright .content-receive-message{
	background-color: #fff;
}
/*Màu tin nhắn người nhận*/
.theme-bright .content-send-message{
	background-color: #3b728b;
}
/*Màu nhập tin nhắn*/
.theme-bright .showOption{
	background-color: #FFF;
}
/*Màu icon, màu chữ*/
.theme-bright .name-taskbar,  .theme-bright .option-header,  .theme-bright .search-taskbar-input, .theme-bright .info-profile{
	/*color: #FFF;*/
	color: #101854;
}
.theme-bright .item-menu, .theme-bright .bi, .theme-bright .logo .logoM{
	color: #FFF;
}
.theme-bright .message-receive-content{
	font-size: 16px;
	color: black;
}
/*màu thời gian gửi*/
.theme-bright .time-receive,{
	color: #393939;
}
/*màu thời gian nhận*/
.theme-bright .time-send{
	color: #dedede;
}
/*Màu tên người gửi*/
.theme-bright .name-receive{
	color: #720000;
}

.theme-bright .bi{
	cursor: pointer;
}


